// General Styling
body {
  border: none;
  margin: 0;
  background-color: #faf0cf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  height: 100px;
  width: 100px;
  background-color: antiquewhite;
}




// Header/Footer Styling
.siteHeader {
  overflow: hidden;
  padding: 10px ;
  display: flex;
  align-content: center;
  background-color: rgb(114, 220, 213);
border-top: 7px solid rgb(10, 104, 104);
border-bottom: 7px solid rgb(10, 104, 104);
  .siteTitle {
    // float: left;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    height: 3.8rem;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 100;
  }

  .headerLinks {
      display: flex;
      align-content: center;
  }

  .headerLink{
      float: right;
      color: black;
      text-align: center;
      padding: 14px 14px 0px 14px;
      text-decoration: none;
      font-size: 17px;
      justify-content: space-between;

    &:hover {
        background-color: #ffff;
        color: #faf0cf;
    }
  }
}
.siteFooter {
  margin-bottom: 0;
  
}


//  Custom Component Styling
.pageContent {
  margin: 0 auto;
  padding: 2rem;
  max-width: 980px;
}

.hero {
  padding: 2rem, 0;
  // border: solid black 2px;
  .heroImage{
    grid-column: 1/2;
    // border: solid black 2px;
    border-radius: .5rem;
    height: 200px;
  }
  .heroText{
    grid-column: 2/5;
    // border: solid black 2px;
    border-radius: .5rem;
    padding: .2rem;
    margin: 0
  }
}

.homePortfolio{
  // border: solid blue 2px;
  text-align: center;
  grid-gap: 1rem;

}

.homeBlog {
  // border: solid rgb(31, 165, 40) 2px;
  text-align: center;
  grid-gap: 1rem;

}

.testimonials {
  // border: solid rgb(200, 58, 119) 2px;
  text-align: center;
  grid-gap: 1rem;

}

.plantButton {
  border: none;
  background-color: transparent;
}

.card {
  padding: 1rem;

  .var1 {
    border: 5px solid rgb(37, 135, 17);
    border-radius: 50%;
    padding: 3px;
    width: min-content;
    margin: 0 auto;
  }

  .var2 {
    border: 5px solid rgb(0, 8, 255);
    border-radius: 50%;
    padding: 3px;
    width: min-content;
    margin: 0 auto;
  }

  .var3 {
    border: 5px solid rgb(255, 208, 0);
    border-radius: 50%;
    padding: 3px;
    width: min-content;
    margin: 0 auto;
  }

  .plantBox {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.threePhotos {
  display: flex;
  flex: 1 1 33%;
  justify-content: space-between;
  padding: 1rem;
}
  @media screen and (min-width: 1200px) {
    .threePhotos {
      flex: 1 1 100%;
    }
  }

.addPlant {
  // height: 180px;
  // width: 180px;
  padding: 1px 6px;
  .addCard{
    height: 230px;
    width: 230px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
.addText {
  border: 2px solid yellowgreen;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  font-size: 5rem;
  color: yellowgreen;
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plantsGrid {
  margin: 0 auto;
  min-width: min-content;
  max-width: max-content;
}

.homeHeadline {
  font-size: 3rem;
  color: rgb(79, 46, 7);
  margin: 0rem auto 1rem;
}


.plantPropertyGrid {
  position: relative;
}

.plantProperty {
  font-size: 2rem;
}


.water {
  grid-area: 1/2/2/1;
  transform: translate(-50px, -30px);
}
.sunlight {
  grid-area: 1/3/3/4;
  transform: translate( 50px, -30px);
}

.humidity {
  grid-area: 2/1/3/2;
  transform: translate(-20px, 30px);
}

.temperature {
  grid-area: 2/2/3/3;
  transform: translate(0px, 80px);
}
.ph {
  grid-area: 2/3/2/3;
  transform: translate(20px, 30px);
}